/* === FONTS === */

/* Fontin Sans, a font by Jos Buivenga (exljbris) -> www.exljbris.nl */


@font-face {
    font-family: 'FontinSansRegular';
    src: url('../fonts/fontin_sans_r_45b-webfont.eot');
    src: url('../fonts/fontin_sans_r_45b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_r_45b-webfont.woff') format('woff'),
         url('../fonts/fontin_sans_r_45b-webfont.ttf') format('truetype'),
         url('../fonts/fontin_sans_r_45b-webfont.svg#FontinSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansBold';
    src: url('../fonts/fontin_sans_b_45b-webfont.eot');
    src: url('../fonts/fontin_sans_b_45b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_b_45b-webfont.woff') format('woff'),
         url('../fonts/fontin_sans_b_45b-webfont.ttf') format('truetype'),
         url('../fonts/fontin_sans_b_45b-webfont.svg#FontinSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansItalic';
    src: url('../fonts/fontin_sans_i_45b-webfont.eot');
    src: url('../fonts/fontin_sans_i_45b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_i_45b-webfont.woff') format('woff'),
         url('../fonts/fontin_sans_i_45b-webfont.ttf') format('truetype'),
         url('../fonts/fontin_sans_i_45b-webfont.svg#FontinSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontinSansBoldItalic';
    src: url('../fonts/fontin_sans_bi_45b-webfont.eot');
    src: url('../fonts/fontin_sans_bi_45b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_bi_45b-webfont.woff') format('woff'),
         url('../fonts/fontin_sans_bi_45b-webfont.ttf') format('truetype'),
         url('../fonts/fontin_sans_bi_45b-webfont.svg#FontinSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* === BASIC STYLES === */

body {
    background: url(../images/topborder.jpg) repeat-x left top;
    background-color: #efefef;
	font-family: "FontinSansRegular", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Geneva, sans-serif;
}
div#wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
div.main_content {
	padding-top: 50px;
	line-height: 2.4;
}
div.main_content, footer {
	font-size: 0.88em;
}
p {
	padding-bottom: 1em;
}
a {
	text-decoration: none;
	color: #1b6292;
}
ul {
	list-style-type: none;
}
ol {
	padding-left: 2em;
}
.bulleted {
	list-style-type: disc;
	margin-left: 2em;
}
.italic {
	font-family: 'FontinSansItalic';
}
.bold {
	font-family: 'FontinSansBold';
}
a:visited {
	color: #565656;
}
a:hover {
	border-bottom: 1px solid;
	color: #1b6292;
}
h1 a:visited {
	color: #1b6292;
}
h2 {
	color: #1b6292;
	text-transform: uppercase;
	font-size: 1.25em;
}

/* === MAIN HEADER === */

header.site_header {
	margin-top: 55px;
	padding-bottom: 20px;
}
header.site_header h1 {
    padding-top: 15px;
}
header.site_header nav {
	position: absolute;
	top: -45px;
	right: 0;
}
header.site_header nav li {
	display: inline-block;
	text-transform: lowercase;
	margin-left: 3px;
}
header.site_header nav li a {
	color: #676154;
}
header p.welcome_user {
	position: absolute;
	top: -45px;
	left: 0;
	padding: 3px 10px;
	color: #676154;
	text-transform: lowercase;
	text-shadow: 0px 1px 2px #fff;
	font: 1.2em "FontinSansBold";
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
}
header p.welcome_user a {
	padding: 3px 5px;
	color: #676154;
	text-transform: lowercase;
	text-shadow: 0px 1px 2px #fff;
	font: "FontinSansBold";
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
}
header p.new_article_link a {
  	position: absolute;
  	top: -45px;
  	left: 17em;
	padding: 3px 5px;
	color: #676154;
	text-transform: lowercase;
	text-shadow: 0px 1px 2px #fff;
	font: 1.2em "FontinSansBold";
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
}
header.site_header a:hover {
	border-bottom: 0;
}
header.site_header nav ul li a {
	padding: 3px 10px;
	margin-left: 7px;
	color: #676154;
	text-transform: uppercase;
	text-shadow: 0px 1px 2px #fff;
	font: 1.2em "FontinSansBold";
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
}
header.site_header nav ul li a:hover, header p.new_article_link a:hover, header p.welcome_user a:hover {
	background-color: #b4afa3;
	border-bottom: 1px solid #676154;
}
header.site_header nav ul li a.active-link {
	background-color: #efefef;
	color: #1B6292;
}
header.site_header nav ul li a.active-link:hover {
	border-bottom: none;
}


/* === SIDEBAR === */

div.sidebar {
	width: 200px;
	float: right;
}
.sidebar ol, .sidebar ul {
	list-style-type: none;
	padding: 1em 0;
	border-top: 1px solid #ffffff;
}
div.sidebar ol ol {
    border-top: none;
    font-size: .9em;
    padding-left: 1.5em;
}
ol.month_names {
	list-style-type: none;
}
ol.month_list, ol.tags_list {
    list-style-type: disc;
}
div.sidebar h2 {
	border-bottom: 1px solid #565656;
	text-transform: uppercase;
}


/* === ARTICLES === */

div.articles {
	width: 700px;
	float: left;
}
div.articles h1 a:hover {
	border-bottom: 0;
}
article.article_body img {
    float: left;
    margin: 0 20px 15px 0;
    border: 1px solid #c3bfb5;
}
div.main_content h1 {
	font: 1.5em "FontinSansRegular";
	padding-bottom: .25em;
	float: left;
}
#main_blog_index>li {
	padding-bottom: 5em;
	clear: both;
}
div.pagination {
  	clear: both;
}
p.create_article {
  	clear: both;
}
div.page_body {
	clear: both;
	padding: 1em 0 5em;
}
dt {
	font-weight: bold;
	padding-bottom: 1em;
}
dd {
	padding-bottom: 1.5em;
}
.article_attribution {
	border-bottom: 13px solid #c3bfb5;
	color: #1b6292;
	text-transform: lowercase;
	float: right;
	font: .9em "FontinSansRegular";
	padding-bottom: 3px;
}
.article_attribution a:hover {
	border-bottom: none;
}
.article_attribution a:visited {
	color: #1b6292;
}
.article_body {
	padding-top: 30px;
	clear: both;
	background-color: #fff;
	border: 1px solid #c3bfb5;
	moz-border-radius: 10px 0 10px 10px;
	webkit-border-radius: 10px 0 10px 10px;
	border-radius: 10px 0 10px 10px;
}
div.article_text {
	margin: 0 30px 10px 30px;
	font-size: .9em;
}
div.article_text ul {
	list-style-type: disc;
	margin-left: 1.5em;
}
div.article_text p, div.article_text ul, div.article_text ol, div.article_text dl {
	padding-bottom: 1em;
}
ul.article_tags {
	display: inline;
	padding-left: 1em;
}
ul.article_tags li {
	display: inline;
	padding-right: 1em;
}
div.pagination .disabled {
	display: none;
}
div.pagination .next_page {
	float: right;
}
div.pagination .previous_page {
	width: 350px;
}
div.pagination {
	padding-bottom: 5em;
}
div.pagination a:hover {
	border-bottom: none;
}
div.posted_in p {
	padding: 0;
	display: inline-block;
}
.article-extras {
	clear: both;
	margin-left: 30px;
}


/* === FOOTER === */

footer {
	clear: both;
}
footer#main_footer {
	background-color: #282828;
	color: #fff;
	min-height: 200px;
	text-align: center;
}
div.main_footer_content {
    width: 960px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    }
ul.footer_links {
	margin-bottom: 40px;
}
ul.footer_links li {
	list-style: none;
	display: inline;
	padding: 0 20px;
	border-right: 1px solid #fff;
	position: relative;
}
ul.footer_links li.right_link {
	border: none;
}
ul.footer_links li a {
	color: #fff;
}
ul.footer_links li a:hover {
	border-bottom: 1px solid #fff;
}


/* === COMMENTS === */

p#comment_count {
	padding: 10px 10px 10px 0;
	clear: both;
}
p#comment_count a:visited {
	color: #1b6292;
}
li.comment, div.user_heading {
	width: 600px;
	background-color: #fff;
	margin-bottom: 15px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #c3bfb5;
	clear: both;
	min-height: 130px;
	overflow: hidden;
}
p.comment_author, div.user_heading h1 {
	float: left;
	margin-top: 30px;
	font-family: 'FontinSansBold';
	padding: 0 0 0 15px;
}
p.comment_date {
	font-size: 0.9em;
	color: #565656;
	float: right;
	margin-top: 30px;
	padding-right: 30px;
}
p.comment_body {
	padding: 0 30px 30px 15px;
	width: 435px;
	float: left;
}
h4#comment_box_title a {
	color: #282828;
	border-bottom: none;
}
.gravatar {
	margin: 30px 10px 10px 30px;
	display: inline-block;
	width: 70px;
	float: left;
	border: 1px solid #c3bfb5;
}
div.gravatar_link img.gravatar {
	float: left;
	margin: 0 15px 25px 0;
}
.user_comments {
	clear: both;
	margin-left: 30px;
}
div.actions {
	margin-bottom: 25px;
}
div.user_info {
	display: block;
	padding: 10px;
}
div.user_form {
	padding-top: 15px;
	clear: both;
}
.user_comments h2 {
	text-transform: uppercase;
}


/* === ADMIN === */

ul.admin_list {
	clear: both;
	list-style-type: disc;
	margin-left: 1.5em;
}
ul.users li {
	clear: both;
}
ul.users img.gravatar {
	margin-top: 0;
}


/* === FORMS === */

label {
	float: left;
	min-width: 80px;
}
ul.tag_list label {
	float: none;
	padding-left: 5px;
}
input, textarea {
	padding: 5px;
	border: 1px solid #c3bfb5;
	outline: none;
	clear: both;
}
input:focus, textarea:focus {  
    border-color: #1b6292;  
}
form .actions {
	margin-top: 10px;
	width: 180px;
}
form .actions input:hover {
	cursor: pointer;
}
.field_with_errors {
	display: inline;
}
.fixed_field {
	display: inline;
}
.field_with_errors input {
	border: 1px solid #9f2e2d;
}
#error_explanation h2 {
	text-transform: lowercase;
	color: #9f2e2d;
}
#error_explanation ul {
	list-style-type: disc;
	margin: 0 0 2em 2em;
}
.flash {
	background-color: #1B6292;
	padding: 1em;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	margin-bottom: 3em;
}
textarea#comment_content {
	moz-border-radius: 10px;
	webkit-border-radius: 10px;
	border-radius: 10px;
}


/* === CODE STYLES === */

pre  {
	background-color: #efefef;
	border: 1px solid #1b6292;
}
code {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	padding-left: 1em;
}


/* === TWITTER PLUGIN ===  */

#twitterfeed p {
	padding: 20px 0;
	line-height: 2.4;
}
.tweettime {
	font-family: 'FontinSansItalic';
}


/* === ABOUT PAGE === */

.social_links {
	margin-top: 10px;
}
.social_links li {
	display: inline;
	margin-right: 10px;
}
.social_links li a:hover {
	border-bottom: none;
}


/* === STICKY FOOTER === */

html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
}
.main_content {
	overflow: auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */
#main_footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
} 

/* === OPERA FIX FOR STICKY FOOTER === */

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

.image_list .draggable {
	display: inline-block;
}
.draggable img {
	float: left;
}
.draggable-img {
	min-height: 130px;
	min-width: 100px;
	padding: 5px;
	border: 1px solid #C3BFB5;
	margin-right: 10px;
	background-color: #EFEFEF;
}
.draggable-img img {
	margin: 0 auto;
}
.image_list .draggable {
	display: inline-block;
}
.draggable label {
	float: left;
    width: 80px;
	line-height: 1;
	font-size: 0.85em;
	text-transform: uppercase;
	margin-top: 7px;
}
.draggable input {
	float: right;
	margin: 7px 0;
}
.tag_list {
	clear: left;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c3bfb5;
	display:inline-block;
	color:#1b6292;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.button:active {
	position:relative;
	top:1px;
}

/* === JQUERY UI IMAGE SLIDER FOR ARTICLES/NEW === */

#demo-frame > div.demo { padding: 10px !important; }
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-content-item { width: 100px; float: left; margin: 10px; }
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
