<div class="articles">
<h1>About me</h1>
<div class="page_body">
	<p>I am a Melbourne-based web developer.</p> 
	<p>I’m originally from New York, but I moved to Sydney in 2009 and began learning web design &amp; development at Sydney Institute TAFE. I earned my Diploma in Web Development at the end of 2010. I also have a B.A. degree in Writing, Media &amp; Communications.</p> 
	<p>I built this website in Ruby on Rails using this <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">tutorial by Michael Hartl</a>.</p> 
	<h2>Contact</h2>
		<p>You can contact me at kellysmithholbourn@gmail.com.</p>
	<h2>Me elsewhere</h2>
		<ul class="social_links">
			<li><%= link_to image_tag("twitter30.png"), "http://twitter.com/ksmithholbourn", :title => "Twitter" %></li>
			<li><%= link_to image_tag("googleplus30.png"), "http://plus.google.com/106565543525147050233", :title => "Google+" %></li>
			<li><%= link_to image_tag("forrst30.png"), "http://forrst.com/people/kelly_s", :title => "Forrst" %></li>
		</ul>
</div><!--page_body-->
</div><!--articles-->