<div class="articles">
<h1>Projects</h1>
	<div class="page_body">
		<h2>2012</h2>
		<ul class="bulleted">
			<li>A website to showcase some <a href="http://resseguietrunk.com/" target="_blank">family history documents</a></li>
			<li>A pro bono WordPress website for <a href="http://dr4g0n.net/wnfa/" target="_blank">Wisconsin Natural Food Associates</a></li>
		</ul>
		<h2>2011</h2>
		<ul class="bulleted">
			<li>The website you're looking at, which I built in Ruby on Rails using this <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">tutorial by Michael Hartl</a></li>
			<li>A pro bono WordPress website for <a href="http://dr4g0n.net/wnfa/" target="_blank">Wisconsin Natural Food Associates</a></li>
		</ul>
		<h2>2010</h2>
		<ul class="bulleted">
			<li><a href="http://www.uticaalc.org/" target="_blank">Utica Adult Learning Center website</a></li>
			<li><a href="http://michaelsirianni.com/" target="_blank">Michael Sirianni website</a></li>
		</ul>
	</div><!--page_body-->
</div><!--articles-->