<div class="articles">
<h1>Projects</h1>
	<div class="page_body">
		<h2>2011</h2>
		<ul class="bulleted">
			<li>The website you're looking at, which I built in Ruby on Rails using this <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">tutorial by Michael Hartl</a></li>
			<li><a href="http://kellysmithholbourn.com/">My portfolio site</a>, where you can read more details about my older projects</li>
		</ul>
		<h2>2010</h2>
		<ul class="bulleted">
			<li><a href="http://kellysmithholbourn.com/wordpress-theme/">WordPress theme for a portfolio</a> - I made this WordPress theme to give a demonstration of custom post types.</li>
			<li>ASP.NET diploma project - no longer online but this was an online store built using ASP.NET and C#, with an admin section and a custom shopping cart.</li>
			<li><a href="http://www.uticaalc.org/">Utica Adult Learning Center website</a> - a website for a language school with all content provided in seven languages other than English. The languages include Arabic, Bosnian, Burmese, Karen, Maay-Maay, Spanish, and Russian.</li>
			<li><a href="http://michaelsirianni.com/">Michael Sirianni website</a></li>
		</ul>
	</div><!--page_body-->
</div><!--articles-->