<div class="articles">
<h1>Projects</h1>
	<div class="page_body">
		<p class="italic">A list of projects I've completed&hellip;</p>
		<h2>2011</h2>
		<ul class="bulleted">
			<li>The website you're looking at, which I built in Ruby on Rails using this <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">tutorial by Michael Hartl</a></li>
			<li><a href="#">My previous portfolio site</a>, where you can read more details about my older projects</li>
		</ul>
		<h2>2010</h2>
		<ul class="bulleted">
			<li><a href="#">WordPress theme for a portfolio</a> - I made this WordPress theme as a demonstration of custom post types.</li>
			<li>ASP.NET diploma project - no longer online because I stopped paying for Windows hosting but this was an online store built using ASP.NET and C#, with an admin section and a custom shopping cart.</li>
			<li><a href="#">Utica Adult Learning Center website</a> - one of my first websites, a website for a language school with all content provided in seven languages other than English. The languages included some tougher ones like Arabic, Burmese, and Karen, which provided challenges with things like character encoding and RTL.</li>
			<li><a href="#">Michael Sirianni website</a></li>
		</ul>
	</div><!--page_body-->
</div><!--articles-->