<header class="site_header">
<h1 id="title-font"><%= link_to "Morning-Water-196", root_path, :class => "home-link" %></h1>
<h2>{web development, etc.}</h2>
  <nav>
	
    <ul>
      <li><%= link_to "Home", root_path, :class => "home-link" %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</header>
<div class="main_content">